<!DOCTYPE html>


<html>
    <head>
        <title>Musicify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </head>
    <body>
    <div class="container">
        <h1>Welcome <%= user.firstName %></h1>
        <a href="/logout"><button style="display: inline;">Logout</button></a>
    </div>
    </body>
</html>