<!DOCTYPE html>
<html>
<head>
    <title>Musicify</title>
    <link href="./scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./scripts/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="./scripts/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/creative.min.css" rel="stylesheet">
</head>
<body>
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>We just need your social credentials</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">So that we can save your details in our database and later help NSA.</p>
                <div id="screw-up-google-div">
                    <a class="btn btn-primary btn-xl js-scroll-trigger screw-up-google"  href="/login/auth/google">Screw with Google</a>
                </div>
                <div id="screw-up-facebook-div">
                    <a class="btn btn-primary btn-xl js-scroll-trigger screw-up-facebook" href="#about">Screw with Facebook</a>
                </div>

            </div>
        </div>
    </div>
</header>
</body>
</html>